.warp {
  padding: 10px;
  background: #3F3F3F;
  height: 100%
}
.title {
  font-size: 12px;
  margin: 0 auto 10px;
  width: 80%;
  padding: 10px;
  border-radius: 6px;
  background: #979797;
  color: #fff;
}
.el-menu{
  background-color: #3f3f3f;
}
.el-submenu .el-menu{
  background-color: #3f3f3f;
}
.el-menu-item, .el-submenu__title{
  color: #fff;
}
.el-submenu .el-menu{
  background: #3f3f3f;
}
